{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>About E-Voting Portal</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus iaculis urna id volutpat. 
            Nulla facilisis, sapien non pharetra semper, nulla diam dictum orci, et ultrices magna sapien 
            eget dolor. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
        </p>
        <p>
            Phasellus sed nibh dignissim, cursus tellus sit amet, ultrices mauris. Aliquam fermentum massa 
            justo, vitae rutrum felis ullamcorper id. Curabitur non nulla sit amet nisl tempus convallis quis 
            ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
        </p>
    </div>
</div>
{% endblock %}
