<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - E-Voting Portal</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('dashboard_blueprint.dashboard') }}">E-Voting Portal</a>
            <!-- Other navigation items -->
            <ul class="navbar-nav ml-auto">
                <!-- Insert additional links -->
                {% block additional_links %}{% endblock %}

                <!-- Conditional navigation links -->
                {% if current_user.is_authenticated %}
                    <!-- Link to profile or dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard_blueprint.dashboard') }}">Dashboard</a>
                    </li>
                    <!-- Logout link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_blueprint.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <!-- Login link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_blueprint.login') }}">Login</a>
                    </li>
                    <!-- Signup link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_blueprint.signup') }}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
