{% extends 'base.html' %}

{% block additional_links %}
<li class="nav-item">
    <a class="nav-link btn btn-danger" href="{{ url_for('vote_blueprint.vote') }}">Vote</a>
</li>
{% endblock %}

{% block body_class %}dashboard-page{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center mb-4">
        <!-- Total Votes Casted Card -->
        <div class="col-md-6">
            <div class="card shadow h-100 py-2 bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Total Votes Casted</h5>
                    <p class="h3">{{ total_votes }}</p>
                </div>
            </div>
        </div>

        <!-- Total Registered Voters Card -->
        <div class="col-md-6">
            <div class="card shadow h-100 py-2 bg-warning text-white">
                <div class="card-body">
                    <h5 class="card-title">Total Registered Voters</h5>
                    <p class="h3">{{ total_voters }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Dynamic Candidate Vote Cards -->
    {% for candidate in candidates %}
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body text-center">
                <img src="{{ url_for('static', filename='images/candidates/' + candidate.name|replace(' ', '_') + '.jpg') }}" alt="{{ candidate.name }}" class="party-photo">
                <div class="card-title mt-2">{{ candidate.name }}</div>
                <div class="h5 mb-0 font-weight-bold">{{ vote_counts[candidate.id] }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Logout Button -->
<div style="position: fixed; bottom: 20px; right: 20px;">
    <a href="{{ url_for('user_blueprint.logout') }}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
