<!DOCTYPE html>
<html>
<head>
    <title>Facial Recognition</title>
<!--    <script defer src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>-->
<!--    <script defer src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>-->
<!--    <script defer src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>-->
    <script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>
</head>
<body>
    <video id="video" width="720" height="560" autoplay muted></video>
    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>
