{% extends 'base.html' %}

{% block body_class %}vote-page{% endblock %}

{% block additional_links %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('dashboard_blueprint.dashboard') }}">Dashboard</a>
</li>
{% endblock %}

{% block title %}Vote{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center display-4 mb-5">Vote Now</h1>
    <form action="{{ url_for('vote_blueprint.vote') }}" method="post">
        <div class="row justify-content-center">
            {% for candidate in candidates %}
            <div class="voting-block card shadow col-md-4 mx-2 bg-light">
                <div class="card-body text-center">
                    <img src="{{ url_for('static', filename='images/candidates/' + candidate.name|replace(' ', '_') + '.jpg') }}" alt="{{ candidate.name }}" class="party-photo">
                    <div class="party-name h5">{{ candidate.name }}</div>
                    <button type="submit" name="vote" value="{{ candidate.id }}" class="btn btn-primary">Vote for {{ candidate.name }}</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
